* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-image: url(./images/backgroung-image.png);
    background-attachment: fixed;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    background-size: 100%;

}

#container {
    display: flex;
    flex-direction: column;

    width: 62.7vw;

}

.logo {
    width: 313px;
    margin: 20px;
}

.en-tete {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    margin-left: 67px;
}

.picture {
    width: 100%;
    height: 61%;
}

.card {
    margin-top: 50px;
    margin-left: 20px;
    width: 16rm;
}

.card-body {
    display: flex;
    flex-direction: column;

    padding: 0px;
}

/* .btn {
    width: 126px;
    height: 43px;
} */

.card-body>* {
    margin: 2%;
    margin-left: 2%;
    margin-top: 1%;
}

.pegi {
    width: 7%;
}

.card-detail {
    margin-top: 50px;
    margin-left: 20px;
    width: 95%;
}



.card-title {
    margin: 2%;
    width: 200px;
    height: 50px;
}

.card-text {
    margin: 2%;
    width: 200px;
    height: 30px;
    display: block;

}

.card-text p {
    margin: 2%;
    width: 200px;
    display: block;
    height: 30px;

}

.img {
    margin: 2%;
    display: flex;
    width: 77%;
}

.avis {
    margin: 2%;
    display: flex;
    justify-content: space-around;
}

.img-fluid {
    max-width: 100%;
    height: 102%;

}

.btn:hover {
    background-color: white;
    color: #0275d8;

}

.derouler {
    border-radius: 0;
}

.small-pegi {
    width: 16%;

}

.console {
    text-decoration: inherit;
    color: white;
    background: #0275d8;
    padding: 4px 10px;
    border-radius: 15px;
    font-size: 83%;
    margin-right: 5px;
}

.div-console {
    margin-top: 0;
    margin-left: 2%;
}

.div-info {
    margin-left: 2%;
}

.synopsis {
    font-weight: bold;
}

.img-pegi {
    width: 100%;
    object-fit: contain;
}

.pegi {
    width: 11%;
    border: 1px solid rgba(128, 128, 128, 0.359);
    padding: 7px;
    border-radius: 12%;
}

.detail-description {
    display: flex;
}

.p-pegi {
    display: flex;
    align-content: stretch;
    align-items: center;
}

.form {
    margin: 15%;
    border: 1px solid rgba(128, 128, 128, 0.649);
    padding: 6%;
    border-radius: 19px;
}

.user-info {
    border: 1px solid rgba(128, 128, 128, 0.649);
    padding: 7px 19px;
    margin: 20px 19px;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    font-size: 35px;
}

.nav li {
    margin-left: 5px;
}